body{
    background-color:whitesmoke;
}
.container{
    margin:10px auto;
    padding:50px;
    width: 300px;
    border-radius: 20px;
}
h2
{
   margin-left: 10%;
}
#submit{
    margin: 40px;
    height: 40px;
    width: 70px;
    border-radius: 20px;
    margin-left: 30%;
}
#sign{
    height: 20px;
    width: 70px;
    border-radius: 20px;
    margin-left: 45%;
}
#userid,#password,#password1,#password2{
    margin-left:15%;
    height: 30px;
    size: 50px;
    border-radius: 30px;
    padding:10px;
    font-size: medium;
}
.sign{
    text-decoration: underline;
    cursor: pointer;
}