.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-container:hover{
  transform: scale(1.05);
}
.Submit:hover{
  transform: scale(1.05);
}
#topbar{
   display:flex;
   justify-content:"center";

}
#ulist{
  display:flex;
  list-style:none;
  text-align:center;
  justify-content:space-around;
  align-items:center
}
.hamburger{
  cursor: pointer;
  width:2%;
  height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 2%;
  transition: all 0.3s ease;
}
.hamburger .line {
  height: 20%;
  border-radius: 2px;
  opacity: 90%;
}
.hamburger:hover{
  transform: scale(1.05);
}
.hamburger.navi{
  flex-direction: row;
  align-items: center;
}
.hamburger.navi .line {
  width: 2vw;
  height: 4vh;
  margin-right: 4px;
}
body{
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}
.BodyBody11{
  max-width: 100vw;
  max-height: 90vh;
  overflow: auto;
  margin-top: 0;
  margin-left: 0;
}
.content1,.content2,.content3{
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
  from{
    opacity: 0;
    transform:translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}